:root{
  --headingFont: "Poppins";
  --bodyFont: "Muli";
  --backgroundcolor1: #1a1a1a;
}

html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    font-family: var(--headingFont);
    font-size: 12pt;
}
@media (max-width: 768px) {
  li {
      padding-top: 6px;
  }
}

@media (min-width: 768px) {
  li {
      float: left;
  }

  ul > .pull-right >li a {
      display: inline-block;
      color: black;
      text-align: center;
  }
}

p{
  font-family: var(--headingFont);
	font-size: 10pt;
}

.mobileMenu{
  color: black;
  background-color: transparent;
}

.homeBackground{
  overflow:hidden;
  background-attachment:fixed;
  background-image: url("home/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
}

.WelcomeHeader{
	position: relative;
  font-family: var(--headingFont);
	font-size: 32pt;
	text-align: center;
	top: 35%;
	margin: auto;
  color: #333;
  -webkit-transition: opacity: 0.1;
  -moz-transition: opacity: 0.1;
  -o-transition: opacity: 0.1;
  transition: opacity 0.1;
}

.WelcomeHeaderMobile{
  position: relative;
  font-family: var(--headingFont);
	font-size: 24pt;
	text-align: right;
	top: 30%;
	margin: auto;
  color: #333;
  -webkit-transition: opacity: 0.1;
  -moz-transition: opacity 0.1;
  -o-transition: opacity: 0.1;
  transition: opacity 0.1;
}

.homeOutline{
  position: relative;
	padding-left: 15pt;
	padding-right: 15pt;
	width: 100%;
	height: 100vh;
}

.careerOutline{
  position: relative;
	padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 30pt;
	width: 100%;
	height: 100%;
  padding-bottom: 30pt;
	background-color: var(--backgroundcolor1);/*#595959;*/
}

.projOutline{
  position: relative;
	padding-left: 15pt;
	padding-right: 15pt;
  padding-top: 25pt;
  padding-bottom: 70pt;
	width: 100%;
	height: 100%;
	background-color: white;
  z-index: 2;
}
@media (max-width: 1499px){
  .progOutline{
  	padding-left: 15pt;
  	padding-right: 15pt;
    padding-top: 30px;
  	width: 100%;
  	height: 100%;
    padding-bottom:30px;
  	background-color: white;
    z-index: 2;
  }
}
@media (min-width: 1500px) {
  .progOutline{
  	padding-left: 15pt;
  	padding-right: 15pt;
    padding-top: 100px;
  	width: 100%;
  	height: 100%;
    padding-bottom:100px;
  	background-color: white;
    z-index: 2;
  }
}

.expFormat{
  height: 40pt;
}
@media (min-width: 768px) {
  .footier{
    position: relative;
  	width: 100%;
  	height: 115pt;
  	color: white;
  	padding-left:15pt;
  	background-color: var(--backgroundcolor1); /*#333;*/
    right: 0;
    left: 0;
  }
  .footerText{
  	position: relative;
    left:-7pt;
    margin-top: 8pt;
    width:100%;
  	color:white;
    font-family: var(--headingFont);
  	font-size: 20pt;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footier{
    position: relative;
  	width: 100%;
  	height: 115pt;
  	color: white;
  	padding-left:15pt;
    padding-bottom: 15pt;
  	background-color: #333;
    right: 0;
    left: 0;
  }

  .footerText{
  	position: relative;
    left:-7pt;
    margin-top: 8pt;
    width:100%;
  	color:white;
    font-family: var(--headingFont);
  	font-size: 16pt;
    text-align: center;
  }
}

.noMargin{
	margin:0;
}

.noContainerPad{
	margin:0;
	padding:0;
}

.AboutHeader{
	position: relative;
  font-family: var(--headingFont);
	font-size: 32pt;
	text-align: center;
	top: 50%;
	color: white;
}

.aboutHeadingL{
  text-align: left;
  font-family: var(--bodyFont);
  font-weight: 600;
	font-size: 16pt;
}

.aboutHeadingR{
  text-align: right;
  font-family: var(--bodyFont);
  font-weight: 600;
	font-size: 16pt;
}

.AboutTextBox{
	position: relative;
  font-family: var(--bodyFont);
  font-weight: 400;
	font-size: 16pt;
	text-align: left;
	color: white;
	top: 10%;
}

.aboutTextLeft{
  text-align: left;
}

.aboutTextRight{
  text-align: right;
}

.aboutAdjust{
  padding-top: 15pt;
}
.aboutAdjustM{
  padding-top: 25pt;
}

.aboutAdjustR{
  padding-top: 30pt;
}

.aboutTextAdjust{
  padding-top: 10pt;
}

.aboutTextAdjustM{
  padding-top: 15pt;
}

.personalPic{
	background-image: url('other/meirl.png');
	background-repeat: no-repeat;
	height: 180pt;
	width: 180pt;
	margin:auto;
  margin-top: 10pt;
  padding-left: 15pt;
}

.whiteHeader{
	position: relative;
  font-family: var(--headingFont);
	font-size: 25pt;
	text-align: center;
	width: 200pt;
	height: 50pt;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: medium;
	border-color: #333;
	margin: auto;
}

.programHeader{
	position: relative;
  font-family: var(--headingFont);
	font-size: 22pt;
	text-align: center;
	width: 225pt;
	height: 50pt;
	padding-top: 10pt;
  border-bottom-style: solid;
  border-bottom-width: medium;
	border-color: #333;
	margin: auto;
}

.blackHeader{
	position: relative;
  font-family: var(--headingFont);
	font-size: 25pt;
	text-align: center;
	width: 200pt;
	height: 60pt;
	padding-top: 10pt;
  padding-bottom: 5px;
	color: white;
	border-bottom-style: solid;
  border-bottom-width: medium;
	border-color: white;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 25pt;
}

@media (min-width: 768px) {
  .projText{
    position: absolute;
    top: 35%;
    width: 200px;
    padding: 25pt;
    margin-left: 15%;
    font-family: var(--bodyFont);
    font-weight: 300;
    font-size: 13pt;
    border-radius: 15pt;
    text-align:center;
    background-color: rgba(0,0,0,0.9);
    color: white;
    z-index: 50;
  }
}

@media (max-width: 768px) {
  .projText{
    position: absolute;
    top: 35%;
    width: 200px;
    padding: 25pt;
    margin-left: 15%;
    font-family: var(--bodyFont);
    font-weight: 300;
    font-size: 13pt;
    border-radius: 15pt;
    text-align:center;
    background-color: rgba(0,0,0,0.9);
    color: white;
    z-index: 50;
  }
}

.projectPanel{
  display: inline-block;
  position: relative;
	width: 300px;
	height: 350pt;
	margin-top: 30pt;
  border-radius: 20pt;
  outline: none;
  border: none;
	opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
  -webkit-box-shadow: 11px 11px 36px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 11px 36px -1px rgba(0,0,0,0.75);
  box-shadow: 11px 11px 36px -1px rgba(0,0,0,0.75);
}

.projectPanel:hover{
  display: inline-block;
  padding: 3px;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.projectPanel.projectOne{
  background-image: url("projects/tourGuide/tourGuideHome.png");
  background-repeat: round;
  background-size:cover;
}

.projectPanel.projectOne:hover{
  background-image: url("projects/tourGuide/tourGuideHomeD.png");
  background-repeat: round;
  background-size: contain;

}

.projectPanel.projectTwo{
  background-image: url("projects/calendar/qLifeMain2.png");
  background-repeat: round;
  background-size:contain;
}

.projectPanel.projectTwo:hover{
  background-image: url("projects/calendar/CalendarD.png");
  background-repeat: round;
  background-size: contain;
}

.projectPanel.projectThree{
  background-image: url("projects/personal/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.projectPanel.projectThree:hover{
  background-image: url("projects/personal/personalD.png");
  background-repeat: round;
  background-size: contain;
}

.projectPanel.projectFour{
	background-color: #111;
}

.projectPanel.projectFour:hover{

}
.projectModalText{
  margin-top: 8%;
}
.projectModalTextLess{
  margin-top: 3%;
}

.lIBtn{
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
  outline: none;
}

.gitBtn{
  padding-left: -10px;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
  outline: none;
}

.emailBtn{
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
  outline: none;
}

.wrapper{
	text-align: center;
}

.bBold{
  background-color: transparent;
  border-style:none;
  color: transparent;
  text-decoration: none;
  font-size: 8pt;
}

.medium{
	width: 80pt;
	height: 80pt;
  padding: 5pt;
}

@media (min-width: 1500px) {
  .medium-increase-left{
    margin-left: 9.5%;
  }
  .medium-increase-right{
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .mobileLastRow{
    margin-top: 5%;
  }
}
.lastRowIcon{
  margin-top: 5%;
}

@media (min-width: 1024px) {
  .android{
    margin-top: 5%;
    width: 80pt;
  	height: 60pt;
  }
}

@media (max-width: 1024px) {
  .android{
    width: 80pt;
  	height: 60pt;
  }
}

.small{
	width: 70pt;
	height: 70pt;
  padding: 5pt;
}

@media (min-width: 1024px) {
  .expText{
    margin-top: 20%;
    text-align: center;
  }
  .lastExpText{
    text-align: center;
    margin-bottom: 10%;
  }
}

@media (max-width: 1024px) {
  .expText{
    margin-top: 5%;
    text-align: left;
  }
}

.expCenter{
  text-align: center;
  font-family: var(--bodyFont);
  font-size: 16pt;
}

@media (min-width: 768px) {

  .navBarLinks{
    margin-top: 10pt;
    font-family: var(--headingFont);
    font-size: 12pt;
    color: black;
  }

  .navBarLinks:hover{
    color: #666 !important;
    text-decoration: none;
    outline: none;
  }

  .navBarLinks:focus{
    color: black !important;
    text-decoration: none !important;
    outline: none;

  }
}

@media (max-width: 768px) {

  .navBarLinks{
    text-align: right;
    margin-top: 10pt;
    font-family: var(--headingFont);
    font-size: 12pt;
    color: black;
  }

  .navBarLinks:hover{
    color: #666 !important;
    text-decoration: none;
    outline: none;
  }

  .navBarLinks:focus{
    color: black !important;
    text-decoration: none !important;
    outline: none;

  }
}

.anchor {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
}

.timeline-label{
  font-family: var(--headingFont);
  font-size: 13pt;
}

@media (min-width: 768px) {
  .modalDown{
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .modalDown{
    margin-top: 25%;
  }
}

.carouselPic{
  width: 260px;
  height: 384px;
  margin:none;
  padding: none;
}

.calCarouselPic{
  width: 350px;
  height: 450px;
  margin:none;
  padding: none;
}

.calCarouselPic:hover{
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.calBigPic{
  width: 800px;
  height: 500px;
  margin:none;
  padding: none;
}

.perDesPic{
  width: 650px;
  margin:none;
  margin-left: -5%;
  padding: none;
}

@media (min-width: 1024px) {

  .headerTitleDark{
    position: absolute;
    width: 74%;
    color: #333;
    font-family: var(--headingFont);
    font-size: 18pt;
    margin-top: 15px;
  }

  .mainTitleCenter{
    text-align: center;
  }
}

@media (min-width: 1500px){
  .headerTitleDark{
    position: absolute;
    width: 82%;
    color: #333;
    font-family: var(--headingFont);
    font-size: 18pt;
    margin-top: 15px;
  }
}

.logoSize{ /* Pic Font: Pacifico*/
  height: 30pt;
  padding: 0px;
}

.logoFormatDark{ /* For format, Reference bootstrap.css .navbar > li > a */
  display: inline-block;
  margin-top: 5px;
  height: 50px;
  width: 160px;
  background-size: cover;
  background-image: url("other/headingDark.png");
}

.modalCenter{
  text-align: center;
  margin-left: -15%;
}

.centerAll{
  text-align:center;
  margin:auto;
  padding: none;
}

@media (min-width: 1024px) {
  .legendBox{
    text-align: left;
    position: absolute;
    width: 270pt;
    height: 140pt;
    border-width: 3pt;
    border-style: dashed;
    border-color: #4d94ff;
    left: 63%;
    padding-left: 25pt;
    padding-top: 10pt;
    margin-top: 5pt;
  }

  .legendText{
    left:-20px;
    padding-top:15pt;
    font-family: var(--bodyFont);
    font-size: 13pt;
    color: white;
  }

  .legendPoint{
    margin-top:15pt;
    width: 24px;
    height: 24px;
    border-width: 4px;
    border-style: solid;
    border-radius: 100%;
  }

  .legendPoint.legendPoint-work {
    color: #ff8080;
    background: #fff;
  }

  .legendPoint.legendPoint-vol {
    color: #4dff4d;
    background: #fff;
  }

  .legendPoint.legendPoint-school {
    color: #9f80ff;
    background: #fff;
  }

}

  .backHome{
    padding-top: 3.5px;
    padding-left: 1px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: black;
    color: white;
    z-index: 1000;
    outline: none;-webkit-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
  }
  .chooseColourFirst{
    padding-top: 3.5px;
    padding-left: 1px;
    position: fixed;
    bottom: 10px;
    right: 55px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid black;
    z-index: 1000;
    outline: none;
    background-color: white;
    outline: none;-webkit-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
  }
  .chooseColour{
    padding-top: 3.5px;
    padding-left: 1px;
    position: fixed;
    right: 55px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid black;
    z-index: 1000;
    outline: none;-webkit-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 10px -1px rgba(0,0,0,0.75);
  }

  .chooseColour:hover{
    border-color: #ddd;
  }

  .chooseColour.GreyChoice{
    background-color: var(--backgroundcolor1);
    bottom: 40px;
  }
  .chooseColour.GreenChoice{
    background-color: #015249;
    bottom: 70px;
  }
  .chooseColour.BlueChoice{
    background-color: #254E70;
    bottom: 100px;
  }
  .chooseColour.RedChoice{
    background-color: #9B1D20;
    bottom: 130px;
  }

  .newDropdown{
    position: absolute;
    top: 100%;
    z-index: 1000;
    padding: 5px 0;
    list-style: none;
    background-color: #fff;
    background-color: transparent;
    width: 50px !important;
    border: none !important;
  }

@media (max-width: 1024px) {
  .shaded{
    margin-top: 20px;
    background-color: #f2f2f2;
  }
}

@media (min-width: 1024px) {
  .shaded{
    background-color: #f2f2f2;
  }
}

.fullcolorBackground{
background-color: var(--backgroundcolor1);
}
.leftAboutBox{
  padding-left: 30pt;
  padding-right: 30pt;
  margin-right: 0;
  color: white;
  width: 100%;
  height: 275pt;
  /*background-color: var(--backgroundcolorA); /* #b3d1ff*/
}

.midAboutBox{
  padding-left: 50pt;
  padding-right: 50pt;
  padding-top: 5%;
  margin-left: 0;
  width: 100%;
  height: 275pt;
  /*background-color: var(--backgroundcolorB); /*#777;*/
}

.rightAboutBox{
  padding-left: 30pt;
  padding-right: 30pt;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  height: 275pt;
/*  background-color: var(--backgroundcolorC); /*#ffad99;*/
}

.SUText{
  font-family: var(--bodyFont);
  font-weight: 400;
	font-size: 14pt;
}

.regText{
  text-align: center;
  font-family: var(--bodyFont);
  font-weight: 400;
	font-size: 13pt;
  color: white;
}

.col-md-3 > .small.bump{
  margin-left: 2%;
}

.col-md-3 > .medium.bump{
  margin-left: 1.5%;
}

.col-md-3 > .small.mobileBump{
  margin-left: 2%;
}

.col-md-3 > .medium.mobileBump{
  margin-left: 1%;
}

.mailToButton{
  border: 2px black solid;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}
