:root{
  --timelineCol: black;
}

body{
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    font-size: 12pt;
    border-bottom:solid 1pt black;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: #ffffb3;
		color:black;
    text-decoration: none;
}

.homeBackground{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.WelcomeHeader{
	position: relative;
	font-size: 32pt;
	text-align: center;
	top: 40%;
	margin: auto;
  color: #333;
}

.homeOutline{
  position: relative;
	padding-left: 15pt;
	padding-right: 15pt;
	width: 100%;
	height: 530pt;
	background-color: #f2f2f2f2;
	border-bottom-style: solid;
	border-color: #333;
}

.careerOutline{
  position: relative;
	padding-left: 15pt;
	width: 100%;
	height: 510pt;
	background-color: #333;
  border-bottom-style: solid;
	border-color: #e6e6e6;
}
.outlineBlack{
  position: relative;
	padding-left: 15pt;
	width: 100%;
	height: 100%;
	background-color: #333;
  border-bottom-style: solid;
	border-color: #e6e6e6;
}

.outlineWhite{
  position: relative;
	padding-left: 15pt;
	padding-right: 15pt;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2f2;
	border-bottom-style: solid;
	border-color: #333;
}

.progOutline{
	padding-left: 15pt;
	padding-right: 15pt;
	width: 100%;
	height: 100%;
  padding-bottom:30pt;
	background-color: #f2f2f2f2;
}

.AboutFormat{
	height: 100pt;
}

.expFormat{
  height: 70pt;
}

.footier{
  position: relative;
	width: 100%;
	height: 100pt;
	color: white;
	padding-left:15pt;
	background-color: #333;
  right: 0;
  bottom: 5%;
  left: 0;
}

.noMargin{
	margin:0;
}

.noContainerPad{
	margin:0;
	padding:0;
}

.AboutHeader{
	position: relative;
	font-size: 32pt;
	text-align: center;
	top: 50%;
	color: #f2f2f2;
	margin: auto;
}
.AboutText{
	position: relative;
	font-size: 14pt;
	text-align: left;
	color:#f2f2f2;
	top: 40%;
	margin: auto;
}

.whiteHeader{
	position: relative;
	font-size: 25pt;
	text-align: center;
	width: 300pt;
	height: 50pt;
	padding-top: 10pt;
  border-bottom-style: solid;
  border-bottom-width: medium;
	border-color: #333;
	margin: auto;
}

.blackHeader{
	position: relative;
	font-size: 25pt;
	text-align: center;
	width: 300pt;
	height: 60pt;
	padding-top: 10pt;
	color: white;
	border-bottom-style: solid;
  border-bottom-width: medium;
	border-color: white;
	margin: auto;
}

.tourGuideProj{
  background-image: url("projects/tourGuide.png");
  background-repeat: no-repeat;
  background-size:cover;
  display: inline-block;
	position: relative;
	width: 100%;
	height: 380pt;
	margin-top: 30pt;
	opacity: 1;
	transition: opacity 0.4s ease-out;
}

.tourGuideProj:hover{
	opacity: 0.6;
	transition: opacity 0.5s ease-in;
}


.projectDisplay{
	position: relative;
	width: 100%;
	height: 380pt;
	margin-top: 30pt;
	background-color: black;
	opacity: 1;
	transition: opacity 0.4s ease-out;
}

.projectDisplay:hover{
	opacity: 0.4;
	transition: opacity 0.5s ease-in;
}

.personalPic{
	background-image: url('other/ameirl.png');
	background-repeat: no-repeat;
	height: 200pt;
	width: 200pt;
	margin:auto;
	margin-top: 20%;
}

.footerText{
	position: relative;
  left:-7pt;
  width:100%;
	color:white;
	font-size: 20pt;
  text-align: center;
}

.lIBtn{
	background-image: url('contact/linkedIn.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
}

.gitBtn{
	background-image: url('contact/Git.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
}

.emailBtn{
	background-image: url('contact/Email.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
}

.wrapper{
	text-align: center;
}

.bBold{
  background-color:inherit;
  border-style:none;
}

.medium{
	width: 90pt;
	height: 90pt;
  padding: 5pt;
}

.android{
  width: 110pt;
	height: 90pt;
  padding: 5pt;
}

.small{
	width: 70pt;
	height: 70pt;
  padding: 5pt;
}

.miniwrap{
  text-align:center;
}
.mini{
  width: 40pt;
	height: 40pt;
  padding: 5pt;
}

.expText{
  margin-top:20%;
  text-align: left;
}

.expCenter{
  text-align: center;
  font-size: 16pt;
}

.dropdownBar{
  width: 158px ;
  text-align: left;
}

.dropdownWhite{
  color: white;
}

.nameHeader{
  color: white;
}

.anchor {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
}

.box1{
  position: absolute;
  border-right-style: solid;
  border-right-color: var(--timelineCol);
  left: 50%;
  width: 10px;
  height: 75px;
}
.box2{
  position: absolute;
  border-style: solid;
  border-color: var(--timelineCol);
  border-bottom-style:none;
  left: 46%;
  width: 120px;
  height: 95px;
}
.box3{
  position: absolute;
  border-left-style: solid;
  border-left-color: var(--timelineCol);
  border-bottom-style: solid;
  border-bottom-color: var(--timelineCol);
  left: 46%;
  width: 60px;
  height: 50px;
}
.box4{
  position: absolute;
  border-right-style: solid;
  border-right-color: var(--timelineCol);
  border-bottom-style: solid;
  border-bottom-color: var(--timelineCol);
  left: 50.44%;
  width: 61px;
  height: 25px;
  background-color: #333;
}
.box5{
  position: absolute;
  border-right-style: solid;
  border-right-color: var(--timelineCol);
  left: 49.9%;
  width: 10px;
  height: 80px;
}
.box6{
  position: absolute;
  border-style: solid;
  border-color: var(--timelineCol);
  border-bottom-style:none;
  left: 40.7%;
  width: 270px;
  height: 180px;
}
.box7{
  position: absolute;
  border-style: solid;
  border-color: var(--timelineCol);
  border-bottom-style:none;
  left: 35.7%;
  width: 140px;
  height: 128px;
}
.box8{
  position: absolute;
  border-right-style: solid;
  border-right-color: var(--timelineCol);
  left: 40.7%;
  width: 270px;
  height: 180px;
}
