body{
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    font-size: 12pt;
    border-bottom:solid 1pt black;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: #ffffb3;
		color:black;
    text-decoration: none;
}

.outlineBlack{
	padding-left: 15pt;
	width: 100%;
	height: 510pt;
	background-color: #333;
  border-bottom-style: solid;
	border-color: #e6e6e6;
}

.outlineWhite{
	padding-left: 15pt;
	padding-right: 15pt;
	width: 100%;
	height: 510pt;
	background-color: #f2f2f2f2;
	border-bottom-style: solid;
	border-color: #333;
}

.AboutFormat{
	height: 200pt;
}

.expFormat{
  height: 70pt;
}

.footier{
	width: 100%;
	height: 100pt;
	color: white;
	padding-left:15pt;
	background-color: #333;
}

.noMargin{
	margin:0;
}

.noContainerPad{
	margin:0;
	padding:0;
}

.WelcomeHeader{
	position: relative;
	font-size: 32pt;
	text-align: center;
	top: 40%;
	margin: auto;
}
.AboutHeader{
	position: relative;
	font-size: 32pt;
	text-align: center;
	top: 70%;
	color: #f2f2f2;
	margin: auto;
}
.AboutText{
	position: relative;
	font-size: 14pt;
	text-align: left;
	color:#f2f2f2;
	top: 40%;
	margin: auto;
}

.whiteHeader{
	position: relative;
	font-size: 25pt;
	text-align: center;
	width: 400pt;
	height: 60pt;
	padding-top: 10pt;
	border-bottom-style: solid;
	border-color: #333;
	margin: auto;
}

.blackHeader{
	position: relative;
	font-size: 25pt;
	text-align: center;
	width: 400pt;
	height: 60pt;
	padding-top: 10pt;
	color: white;
	border-bottom-style: solid;
	border-color: white;
	margin: auto;
}

.projectDisplay{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 300pt;
	margin-top: 50pt;
	background-color: black;
	opacity: 1;
	transition: opacity 0.4s ease-out;
}

.projectDisplay:hover{
	opacity: 0.4;
	transition: opacity 0.5s ease-in;
}

.personalPic{
	background-image: url('meirl.png');
	background-repeat: no-repeat;
	height: 200pt;
	width: 200pt;
	margin:auto;
	margin-top: 50%;
}

.footerText{
	position: relative;
	color:white;
	font-size: 20pt;
	text-align:center;
}

.lIBtn{
	background-image: url('linkedIn.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
}

.gitBtn{
	background-image: url('Git.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
}

.emailBtn{
	background-image: url('Email.png');
	background-repeat: no-repeat;
	background-color: white;
	width: 40pt;
	height: 40pt;
	border-style: solid;
	border-width: thin;
	border-radius: 3pt;
	border-color: #333;
}

.wrapper{
	text-align: center;
}

.bBold{
  background-color:inherit;
  border-style:none;
}

.bigger{
	width: 120pt;
	height: 120pt;
}

.medium{
	width: 90pt;
	height: 90pt;
}

.small{
	width: 70pt;
	height: 70pt;
}

.expText{
  margin-top:25%;
  text-align: left;
}

.expCenter{
  text-align: center;
  font-size: 16pt;
}
